<footer class="site-footer">
    <p class="text">
        {{ site.footer_text | default: "서울 노원구 광운로 20 광운대학교복지관 512호" }}</p>
            <div class="footer-icons">
                <ul>
                <!-- Social icons from Font Awesome, if enabled -->
                {% include social/icons.liquid %}
                </ul>
            </div>
</footer>


